openapi: 3.0.3
info:
  title: Owners API
  description: Create and manage owners.
  version: '1'
  termsOfService: https://www.payroc.com/terms
  contact:
    name: Payroc Helpdesk
    url: https://www.payroc.com/help
    email: helpdesk@payroc.com
servers:
  - url: https://api.payroc.com/v1
    description: Production
  - url: https://api.uat.payroc.com/v1
    description: UAT
security:
- bearerAuth: []
tags:
  - name: Owners
    description: Individuals who own or control the business.

paths:
  /owners/{ownerId}:
    get:
      tags:
      - Owners
      summary: Retrieve an owner
      description: |
        If you have the ownerId, you can use this method to retrieve the details of the owner. The response includes the owner's contact details and information about the owner's relationship to the business.  

        If you don't have the ownerId, you can use the following methods to retrieve the owner's information:
          - **Owners of processing accounts** - Use the HATEOAS links that we send you when you [Retrieve a processing account](/api/schema/boarding/processing-accounts/get) or [List merchant platform's processing accounts](/api/schema/boarding/merchant-platforms/list-processing-accounts).
          - **Owners of funding recipients** - Use the [List funding recipient owners](/api/schema/funding/funding-recipients/list-owners) method. 
      operationId: getOwner
      parameters:
      - $ref: './parameters-v1.yaml#/components/parameters/ownerId'
      responses:
        "200":
          description: Successful request. Returns the requested owner.
          content:
            application/json:
              schema:
                $ref: '../../../common/schemas/boarding/owner-v1.yaml#/components/schemas/owner'
              examples:
                retrievedOwner:
                  $ref: './example-responses-v1.yaml#/components/examples/retrievedOwner'
        "400":
          $ref: '../../../common/responses/errors/400-v1.yaml#/components/responses/400'
        "401":
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        "403":
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        "404":
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        "500":
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'
    put:
      tags:
      - Owners
      summary: Update an owner
      description: |
        > **Important:** You cannot update the owner of a processing account. 

        Use this method to update the details of a funding recipient owner such as their contact details and their relationship to the business.  

        Include the ownerId in the path parameter of your request. If you don’t know the ownerId, you can [Retrieve the funding recipient](/api/schema/funding/funding-recipients/get), [List funding recipients](/api/schema/funding/funding-recipients/list), or [List funding recipient owners](/api/schema/funding/funding-recipients/list-owners) to locate the ownerId. 
      operationId: updateOwner
      parameters:
      - $ref: './parameters-v1.yaml#/components/parameters/ownerId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '../../../common/schemas/boarding/owner-v1.yaml#/components/schemas/owner'
            examples:
              updateOwner:
                $ref: './example-requests-v1.yaml#/components/examples/updateOwner'
      responses:
        "204":
          description: Successful request. We updated the owner.
        "400":
          description: Validation errors.
          content:
            application/problem+json:
              schema:
                $ref: '../../../common/responses/errors/400-v1.yaml#/components/schemas/400'
              examples:
                validationError:
                  $ref: '../../../common/responses/errors/400-v1.yaml#/components/examples/validatorError'
                kycCheckFailed:
                  $ref: '../../../common/responses/errors/400-v1.yaml#/components/examples/kycCheckFailed'
        "401":
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        "403":
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        "404":
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        "406":
          $ref: '../../../common/responses/errors/406-v1.yaml#/components/responses/406'
        "500":
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'
    delete:
      tags:
      - Owners
      summary: Delete an owner
      description: |
        > **Important:** You cannot delete the owner of a processing account. 

        Use this method to delete an owner from a funding recipient. You can delete an owner only if the funding recipient has more than one owner.  

        Include the ownerId in the path parameter of your request. If you don’t know the ownerId, you can [Retrieve the funding recipient](/api/schema/funding/funding-recipients/get), [List funding recipients](/api/schema/funding/funding-recipients/list), or [List funding recipient owners](/api/schema/funding/funding-recipients/list-owners) to locate the ownerId.
      operationId: deleteOwner
      parameters:
      - $ref: './parameters-v1.yaml#/components/parameters/ownerId'
      responses:
        "204":
          description: Successful request. We deleted the owner.
        "400":
          $ref: '../../../common/responses/errors/400-v1.yaml#/components/responses/400'
        "401":
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        "403":
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        "404":
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        "500":
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'
components:
  securitySchemes:
    bearerAuth:
      $ref: '../../../common/security/bearer-auth.yaml#/components/securitySchemes/bearerAuth'
