openapi: 3.1.0
info:
  title: Owners API
  description: Create and manage owners.
  version: '1'
  termsOfService: https://www.payroc.com/terms
  contact:
    name: Payroc Helpdesk
    url: https://www.payroc.com/help
    email: helpdesk@payroc.com
servers:
  - url: https://api.payroc.com/v1
    description: Production
  - url: https://api.uat.payroc.com/v1
    description: UAT
security:
- bearerAuth: []
tags:
  - name: Owners
    description: Individuals who own or control the business.

paths:
  /owners/{ownerId}:
    get:
      tags:
      - Owners
      summary: Retrieve owner
      description: |
        Use this method to retrieve details about an owner of a processing account or an owner associated with a funding recipient.  

        To retrieve an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method or the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.  

        **Note:** If you don't have the ownerId, use the [Retrieve Processing Account](https://docs.payroc.com/api/schema/boarding/processing-accounts/retrieve) method if you are searching for a processing account owner, or use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method if you are searching for a funding recipient owner.  
        
        Our gateway returns the following information about an owner:  
        - Name, date of birth, and address.  
        - Contact details, including their email address.  
        - Relationship to the business, including whether they are a control prong or authorized signatory, and their equity stake in the business. 
        
      operationId: getOwner
      parameters:
      - $ref: './parameters-v1.yaml#/components/parameters/ownerId'
      responses:
        "200":
          description: Successful request. Returns the requested owner.
          content:
            application/json:
              schema:
                $ref: '../../../common/schemas/boarding/owner-v1.yaml#/components/schemas/owner'
              examples:
                retrievedOwner:
                  $ref: './example-responses-v1.yaml#/components/examples/retrievedOwner'
        "400":
          $ref: '../../../common/responses/errors/400-v1.yaml#/components/responses/400'
        "401":
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        "403":
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        "404":
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        "500":
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'
    put:
      tags:
      - Owners
      summary: Update owner
      description: |
        > **Important:** You can't update the details of an owner of a processing account.  

        Use this method to update the details of an owner associated with a funding recipient.  

        To update an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/create) method and the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.   

        **Note:** If you don't have the ownerId, use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method, the [Retrieve Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/retrieve) method, or the [List Funding Recipients](https://docs.payroc.com/api/schema/funding/funding-recipients/list) method to search for the funding recipient owner.  

        You can update the following details about an owner:  
        
        - Personal details, including their name, date of birth, and address.  
        - Identification details, including their identification type and number.  
        - Contact details, including their email address.  
        - Relationship to the business, including whether they are a control prong.  
      operationId: updateOwner
      parameters:
      - $ref: './parameters-v1.yaml#/components/parameters/ownerId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '../../../common/schemas/boarding/owner-v1.yaml#/components/schemas/owner'
            examples:
              updateOwner:
                $ref: './example-requests-v1.yaml#/components/examples/updateOwner'
      responses:
        "204":
          description: Successful request. We updated the owner.
        "400":
          description: Validation errors.
          content:
            application/problem+json:
              schema:
                $ref: '../../../common/responses/errors/400-v1.yaml#/components/schemas/400'
              examples:
                validationError:
                  $ref: '../../../common/responses/errors/400-v1.yaml#/components/examples/validatorError'
                kycCheckFailed:
                  $ref: '../../../common/responses/errors/400-v1.yaml#/components/examples/kycCheckFailed'
        "401":
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        "403":
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        "404":
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        "406":
          $ref: '../../../common/responses/errors/406-v1.yaml#/components/responses/406'
        "500":
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'
    delete:
      tags:
      - Owners
      summary: Delete owner
      description: |
        > **Important:** You can't delete an owner of a processing account. 

        Use this method to delete an owner associated with a funding recipient. You can delete an owner only if the funding recipient has more than one owner.  

        To delete an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/create) method and the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.  

        **Note:** If you don't have the ownerId, use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method, the [Retrieve Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/retrieve) method, or the [List Funding Recipients](https://docs.payroc.com/api/schema/funding/funding-recipients/list) method to search for the funding recipient owner.  
      operationId: deleteOwner
      parameters:
      - $ref: './parameters-v1.yaml#/components/parameters/ownerId'
      responses:
        "204":
          description: Successful request. We deleted the owner.
        "400":
          $ref: '../../../common/responses/errors/400-v1.yaml#/components/responses/400'
        "401":
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        "403":
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        "404":
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        "500":
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'
components:
  securitySchemes:
    bearerAuth:
      $ref: '../../../common/security/bearer-auth.yaml#/components/securitySchemes/bearerAuth'
