openapi: 3.0.1
info:
  title: Transaction API
  version: '1'
  termsOfService: https://www.payroc.com/terms
  contact:
    name: Payroc Helpdesk
    url: https://www.payroc.com/help
    email: helpdesk@payroc.com
servers:
  - url: https://api.payroc.com/v1
    description: Production
  - url: https://api.uat.payroc.com/v1
    description: UAT
tags:
- name: Currency conversion

paths:
  /fx-rates:
    post:
      tags:
        - Currency conversion
      summary: Verify DCC eligibility
      description: |
        > **Important:** There are restrictions on which merchants can use this method. For more information, go to [Dynamic Currency Conversion](https://docs.payroc.com/knowledge/card-payments/dynamic-currency-conversion).  

        Use this method to check if a card is eligible for Dynamic Currency Conversion (DCC) and to retrieve the conversion rate for a transaction amount. DCC provides a customer with the option to use their card's currency instead of the merchant's currency, for example, in Ireland, an American customer can pay in US dollars instead of Euros.  

        The request includes the following:  

        - **Payment method** - Card information, a secure token, or digital wallet.  
        - **Transaction information** - Amount and currency of the transaction in the merchant's currency.  

        If the card is eligible for DCC, our gateway returns the transaction amount in the card's currency and a dccOffer object that contains information about the conversion rate. The dccOffer object contains the following fields that you need when you [run a sale](https://docs.payroc.com/api/schema/payments/create) or [unreferenced refund](https://docs.payroc.com/api/schema/payments/refunds/create) with DCC:  
        - fxAmount  
        - fxCurrency  
        - fxRate  
        - markup  
        - accepted  
        - offerReference  

      operationId: getFxRates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/fxRateInquiry"
            examples:
              fxRateRequest:
                $ref: './example-requests-v1.yaml#/components/examples/fxRateRequest'
        required: true
      responses:
        '200':
          description: Successful request. Returns the currency conversion rate for the transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fxRate"
              examples:
                fxRateResponse:
                  $ref: './example-responses-v1.yaml#/components/examples/fxRateResponse'
        '400':
          $ref: ../../../common/responses/errors/400-v1.yaml#/components/responses/400
        '401':
          $ref: ../../../common/responses/errors/401-v1.yaml#/components/responses/401
        '403':
          $ref: ../../../common/responses/errors/403-v1.yaml#/components/responses/403
        '404':
          $ref: ../../../common/responses/errors/404-v1.yaml#/components/responses/404
        '406':
          $ref: ../../../common/responses/errors/406-v1.yaml#/components/responses/406
        '409':
          $ref: ../../../common/responses/errors/409-v1.yaml#/components/responses/409
        '415':
          $ref: ../../../common/responses/errors/415-v1.yaml#/components/responses/415
        '500':
          $ref: ../../../common/responses/errors/500-v1.yaml#/components/responses/500

components:
  schemas:
    fxRateInquiry:
      required:
        - baseAmount
        - baseCurrency
        - channel
        - paymentMethod
        - processingTerminalId
      type: object
      properties:
        channel:
          description: Channel that the merchant used to receive payment details for the transaction.
          type: string
          enum:
            - pos
            - web
            - moto
          example: pos
        processingTerminalId:
          maxLength: 50
          minLength: 4
          type: string
          description: Unique identifier that we assigned to the terminal.
          example: '1234001'
        operator:
          maxLength: 50
          minLength: 1
          type: string
          description: Operator who ran the transaction.
          example: Jane
        baseAmount:
          minimum: 0
          exclusiveMinimum: true
          type: integer
          format: int64
          description: Total amount of the transaction in the merchant’s currency. The value is in the currency’s lowest denomination, for example, cents. 
          #example: 4999 # Linting won't allow explicit value
        baseCurrency:
          $ref: '../../../common/schemas/common/currency-v1.yaml#/components/schemas/currency'
        paymentMethod:
          type: object
          description: Object that contains information about the customer's payment details.
          discriminator:
            propertyName: type
            mapping:
              card: '../../../common/schemas/transaction/payment-method-v1.yaml#/components/schemas/cardPayload'
              secureToken: '../../../common/schemas/transaction/payment-method-v1.yaml#/components/schemas/secureTokenPayload'
              digitalWallet: '../../../common/schemas/transaction/payment-method-v1.yaml#/components/schemas/digitalWalletPayload'
          oneOf:
            - $ref: '../../../common/schemas/transaction/payment-method-v1.yaml#/components/schemas/cardPayload'
            - $ref: '../../../common/schemas/transaction/payment-method-v1.yaml#/components/schemas/secureTokenPayload'
            - $ref: '../../../common/schemas/transaction/payment-method-v1.yaml#/components/schemas/digitalWalletPayload'
    fxRate:
      required:
        - baseAmount
        - baseCurrency
        - cardInfo
        - inquiryResult
        - processingTerminalId
      type: object
      description: Foreign exchange rate for the transaction.
      properties:
        processingTerminalId:
          maxLength: 50
          minLength: 4
          type: string
          description: Unique identifier that we assigned to the terminal.
          example: '1234001'
        operator:
          maxLength: 50
          minLength: 0
          type: string
          description: Operator who ran the transaction.
          example: Jane
        baseAmount:
          minimum: 0
          exclusiveMinimum: true
          type: integer
          format: int64
          description: Total amount of the transaction in the local currency. The value is in the currency’s lowest denomination, for example, cents.
          #example: 4999 # Linting won't allow explicit value
        baseCurrency:
          $ref: '../../../common/schemas/common/currency-v1.yaml#/components/schemas/currency'
        inquiryResult:
          $ref: "#/components/schemas/fxRateInquiryResult"
        dccOffer:
          $ref: "../../../common/schemas/transaction/dcc-offer-v1.yaml#/components/schemas/dccOffer"
        cardInfo:
          $ref: "../../../common/schemas/transaction/card-v1.yaml#/components/schemas/cardInfo"
    fxRateInquiryResult:
      required:
        - dccOffered
      type: object
      description: Object that indicates if the customer's card is eligible for Dynamic Currency Conversion (DCC). 
      properties:
        dccOffered:
          type: boolean
          default: false
          description: Indicates if the card is eligible for Dynamic Currency Conversion (DCC).
          example: false
        causeOfRejection:
          type: string
          description: Explains why the DCC service did not offer a currency conversion rate to the customer.
          example: Service unavailable
