openapi: 3.1.0
info:
  title: Processing terminals
  description: Retrieve processing terminals
  version: '1'
  termsOfService: https://www.payroc.com/terms
  contact:
    name: Payroc Helpdesk
    url: https://www.payroc.com/help
    email: helpdesk@payroc.com
servers:
  - url: https://api.payroc.com/v1
    description: Production
  - url: https://api.uat.payroc.com/v1
    description: UAT
security:
- bearerAuth: []

tags:
  - name: Processing terminals
    description: Configuration for a terminal

paths:
  /processing-terminals/{processingTerminalId}:
    get:
      tags:
      - Processing terminals
      summary: Retrieve processing terminal
      description: |
        Use this method to retrieve information about a processing terminal.  

        To retrieve a processing terminal, you need its processingTerminalId. Our gateway returned the processingTerminalId in the response of the [Create Terminal Order](https://docs.payroc.com/api/schema/boarding/processing-accounts/create-terminal-order) method.  

        **Note:** If you don't have the processingTerminalId, use our [Retrieve Terminal Order](https://docs.payroc.com/api/schema/boarding/terminal-orders/retrieve) method or our [List Processing Terminals](https://docs.payroc.com/api/schema/boarding/processing-accounts/list-processing-terminals) method to search for the processing terminal.  

        Our gateway returns the following information about the processing terminal:  

        - Status indicating whether the terminal is active or inactive.  
        - Configuration settings, including gateway settings and application settings.  
        - Features, receipt settings, and security settings.  
        - Devices that use the processing terminal's configuration.  
          
      operationId: getProcessingTerminal
      parameters:
      - $ref: ../../../common/parameters/processing-terminal-id-v1.yaml#/components/parameters/processingTerminalIdPath
      responses:
        200:
          description: Successful request. Returns the processing terminal.
          content:
            application/json:
              schema:
                $ref: '../../../common/schemas/boarding/processing-terminals-v1.yaml#/components/schemas/processingTerminal'
              examples:
                processingTerminals:
                  $ref: './example-responses-v1.yaml#/components/examples/retrieveProcessingTerminal'
        400:
          $ref: '../../../common/responses/errors/400-v1.yaml#/components/responses/400'
        401:
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        403:
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        404:
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        406:
          $ref: '../../../common/responses/errors/406-v1.yaml#/components/responses/406'
        500:
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500' 

  /processing-terminals/{processingTerminalId}/host-configurations:
    get:
      tags:
      - Processing terminals
      summary: Retrieve host processor configuration
      description: |
        Use this method to retrieve the host processor configuration of a processing terminal. Integrate with this method only if you use your own gateway and want to validate the processor configuration.  
        
        Our gateway returns the configuration settings for the merchant and the payment terminal.
      operationId: getProcessingTerminalHostConfiguration
      parameters:
      - $ref: ../../../common/parameters/processing-terminal-id-v1.yaml#/components/parameters/processingTerminalIdPath
      responses:
        200:
          description: Successful request. Returns the host configuration of the processing terminal.
          content:
            application/json:
              schema:
                $ref: '../../../common/schemas/boarding/processing-terminals-v1.yaml#/components/schemas/hostConfiguration'
        400:
          $ref: '../../../common/responses/errors/400-v1.yaml#/components/responses/400'
        401:
          $ref: '../../../common/responses/errors/401-v1.yaml#/components/responses/401'
        403:
          $ref: '../../../common/responses/errors/403-v1.yaml#/components/responses/403'
        404:
          $ref: '../../../common/responses/errors/404-v1.yaml#/components/responses/404'
        406:
          $ref: '../../../common/responses/errors/406-v1.yaml#/components/responses/406'
        500:
          $ref: '../../../common/responses/errors/500-v1.yaml#/components/responses/500'           

components:
  securitySchemes:
    bearerAuth:
      $ref: '../../../common/security/bearer-auth.yaml#/components/securitySchemes/bearerAuth'